mistralai
PyPDF2
python-docx
langchain
langgraph
python-dotenv
pydantic
pinecone
groq
fastapi[standard]
uvicorn 
python-multipart
pinecone_text
cohere
langchain-text-splitters
scikit-learn

# pip install -r requirements.txt